

.nav-left {
    background: #f0f0f0;
    height: 100%;
    position: absolute;
    padding: 0;
    font-family: 微软雅黑;
    font-size: 16px;
    color: #232323;

}

.nav-left img {
    width: 22px;
    margin-right: 0.5em;
}

.menu-item,.sub-menu-item{
    padding: 15px 10px 15px 35px;
}

.nav-left li {

}

.arrow-down {
    float: right;
    position: relative;
    top: 3px;
    color: #232323;

}

.active .menu-item{
    background: #ffd91e;

}

.sub-nav{
    display: none;
}

.active .sub-nav{
    display: block;
}


.active .text{
    font-weight:bold;
}

.sub-nav li {
    padding-left: 18px;
}

.sub-nav span {
    visibility: hidden;
    color: #ffd91e;
    margin-right: 0.5em;
}

.sub-nav .sub-active span{
    visibility:visible;
}

.logout {
    position: absolute;
    bottom: 2em;
    left: 2em;
}

.logout img {
    width: 22px;
}

.right-part{
    padding-left: 45px;
    padding-right: 45px;
    font-family: 微软雅黑;
}

.org{
    width: 100%;
    margin-top: 18px;
    height: 45px;
    border-bottom: 1px solid rgb(230,230,230);
}

.org .org-img{
    width: 30px;
    margin-right: 10px;
    float: left;
}

.org .org-name{
    float: left;
    line-height: 30px;
    font-size: 16px;

}


.org .reg-img{
    float: right;
    height: 30px;
}

.station{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgb(230,230,230);

}
.station .circle{
     float: left;
     width: 8px;
     margin: 21px 15px;
     
}
.station .name{
    float: left;
    line-height: 50px;
    font-size: 16px;
}